[Unit]
Description=gunicorn daemon
Requires=gunicorn.socket
After=network.target

[Service]
User=NOME_USUARIO
Group=www-data
WorkingDirectory=/home/NOME_USUARIO/PASTA_RAIZ_PROJETO
ExecStart=/home/NOME_USUARIO/PASTA_RAIZ_PROJETO/venv/bin/gunicorn \
          --access-logfile - \
          --workers 3 \
          --bind unix:/run/gunicorn.sock \
          PASTA_SETTINGS.wsgi:application

[Install]
WantedBy=multi-user.target